body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #7cb1d6;
    color: #333;
}

header {
    background-color: #0077cc;
    color: #fff;
    padding: 1em;
    text-align: center;
}

header h1 {
    font-size: 2em;
}


nav {
    background-color: #333;
    color: #fff;
    padding: 1em;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #0077cc;
    background-color: #fff;
    border-radius: 20px;
}

.featured-image {
    width: 100%;
    max-width: 800px;
    max-height: 800px;
    object-fit: cover;
}

.about-me {
    text-align: center;
}

.about-me img {
    border-radius: 50%;
    margin-bottom: 20px;
}

.destinations {
    margin-top: 20px;
}

.destination {
    margin-bottom: 40px;
}

.blog-post {
    margin-bottom: 40px;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    nav {
        text-align: center;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }
}
